#header{
    background-color: azure;
    padding: 20px;
    text-align: center;
    font-size: 10px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    border: solid 10px aquamarine;
    margin: 10px;
    margin-top: 80px;
}

#nav{
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    border: solid 10px white;
    margin: 10px;
}

#nav3{
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    border: solid 10px blueviolet;
    margin: 10px;
}
#one{
    background-color: lightcoral;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    border: solid 5px white;
    margin: 10px;
}

.portfolio-image {
    width: 100px;  /* adjust as needed */
    height: 100px; /* adjust as needed */
    object-fit: cover; /* this will ensure that your images cover the area without distortion */
}